body {
    background-color: #333;
    color: #ddd;
    font-family: 'Helvetica Neue', sans-serif;
    position: relative;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-wrapper {
    display: flex;
    justify-content: space-between;
}

.pokemon-container {
    background-color: #444;
    text-align: center;
    margin: 0 5px;
    border-radius: 10px;
    border: 2px solid #888;
    max-height: calc(100vh - 250px);
    overflow: hidden;
}

.pokemon-container:hover {
    background-color: #5f572b;
    color: #bba52b;
    border-color: #bba52b;
    cursor: pointer;
}

.pokemon-container:active {
    transform: translateY(2px);
}

.pokemon-container img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}


.pokemon-name {
    font-size: 1.5em;
    font-weight: bold;
}

#elo-change {
    position: absolute;
    font-weight: 900;
    color: #12c712;
    font-size: 72px;
    pointer-events: none;
    text-shadow: -3px -3px #0c5305,
        -3px 3px #0c5305,
        3px -3px #0c5305,
        3px 3px #0c5305,
        6px 6px 6px #000;
    transition: translateY(-30px);
}

#leaderboard-table {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.navigation-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ddd;
    background-color: #444;
    border: 2px solid #888;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.navigation-button:hover {
    background-color: #5f572b;
    color: #bba52b;
    border-color: #bba52b;
}

.navigation-button:active {
    transform: translateY(2px);
}

.undo-button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #444;
    color: #ddd;
    border: 1px solid #888;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 20px;
    top: 50%;
}

.undo-button:hover {
    background-color: #5f572b;
    color: #bba52b;
    border-color: #bba52b;
}

.draw-button {
    display: block;
    margin: 10px auto 20px auto;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #444;
    color: #ddd;
    border: 2px solid #888;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
}

.draw-button:hover {
    background-color: #5f572b;
    color: #bba52b;
    border-color: #bba52b;
}

.draw-button:active {
    transform: translateY(2px);
}

#lookupPageButton {
    display: block;
    margin: 20px auto;
}

.progress-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.progress-text {
    margin-right: 20px;
    font-size: 16px;
    color: #888;
}

.progress-bar {
    width: 60%;
    height: 20px;
    background-color: #222;
    border: 2px solid #888;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-filled {
    height: 100%;
    background-color: #2ecc71;
    /* Bright green */
    width: 28.6%;
    /* This width should be updated dynamically based on the progress */
}

#mainPageButton {
    position: absolute;
    top: 20px;
    left: 20px;
}

#search-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-wrapper {
    position: relative;
    display: inline-block;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    background-color: #444;
    color: #ddd;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ddd;
    background-color: #555;
    border: 1px solid #888;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}

#searchButton:hover {
    background-color: #5f572b;
    color: #bba52b;
    border-color: #bba52b;
}

.suggestions {
    position: absolute;
    left: 0;
    /* Align with the left border of the search input */
    width: 100%;
    display: none;
    overflow-y: auto;
    background-color: #333;
    border: 1px solid #ccc;
}

.suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestions ul li:hover {
    background-color: #444;
}

.suggestions ul li.highlighted {
    background-color: #444 !important;
}

/* Center the pokemonInfo container */
#pokemonInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Center the Pokémon name */
.pokemon-name-container {
    text-align: center;
}

/* Style the Pokémon details container */
.pokemon-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align image and info to the top */
    width: 100%;
}

/* Style the Pokémon image container */
.pokemon-image-container {
    flex: 1;
    text-align: right;
}

/* Style the Pokémon info container */
.pokemon-info-container {
    flex: 1;
}

.competition-history {
    display: none;
}

.competition-history table {
    max-width: 550px;
    border-collapse: collapse;
}

.competition-history th,
.competition-history td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

.competition-history tr.win {
    background-color: #2d6d1e;
}

.competition-history tr.loss {
    background-color: #66211d;
}

.competition-history tr.draw {
    background-color: #6b5f17;
}