body {
    background-color: #333;
    color: #ddd;
    font-family: 'Helvetica Neue', sans-serif;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pokemon-container {
    background-color: #444;
    text-align: center;
    margin: 0 5px;
    border-radius: 10px;
    border: 2px solid #888;
}

.pokemon-container:hover {
    background-color: #5f572b;
    color: #bba52b;
    border-color: #bba52b;
    cursor: pointer;
}

.pokemon-container:active {
    transform: translateY(2px);
}

.pokemon-container img {
    max-width: 100%;
    height: auto;
}

.pokemon-name {
    font-size: 1.5em;
    font-weight: bold;
}

#elo-change {
    position: absolute;
    font-weight: 900;
    color: #12c712;
    font-size: 72px;
    pointer-events: none;
    text-shadow: -3px -3px #0c5305,
        -3px 3px #0c5305,
        3px -3px #0c5305,
        3px 3px #0c5305,
        6px 6px 6px #000;
    transition: translateY(-30px);
}

#leaderboard-table {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#search-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-wrapper {
    position: relative;
    display: inline-block;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    background-color: #444;
    /* Change the background color */
    color: #ddd;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ddd;
    background-color: #555;
    /* Change the background color */
    border: 1px solid #555;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}

.suggestions {
    position: absolute;
    left: 0;
    /* Align with the left border of the search input */
    width: 100%;
    display: none;
    overflow-y: auto;
    background-color: #333;
    border: 1px solid #ccc;
}

.suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestions ul li:hover {
    background-color: #444;
}

.suggestions ul li.highlighted {
    background-color: #444 !important;
}

/* Center the pokemonInfo container */
#pokemonInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Center the Pokémon name */
.pokemon-name-container {
    text-align: center;
}

/* Style the Pokémon details container */
.pokemon-details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align image and info to the top */
    width: 100%;
}

/* Style the Pokémon image container */
.pokemon-image-container {
    flex: 1;
    text-align: right;
}

/* Style the Pokémon info container */
.pokemon-info-container {
    flex: 1;
}

.competition-history {
    display: none;
}
.competition-history table {
    max-width: 550px;
    border-collapse: collapse;
}

.competition-history th,
.competition-history td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

.competition-history tr.win {
    background-color: #2d6d1e;
}

.competition-history tr.loss {
    background-color: #66211d;
}